@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");


*  { 
    margin: 0;
    font-family: 'Poppins', sans;
}

body { 
    --twitter-color: #1C9BF1;
    --twitter-background: #e6ecf0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app {
    display: flex;
    height: 100vh;
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
  }