.sidebar { 
    border-right: 1px solid var(--twitter-background);
    flex: 0.3;
    min-width: 250px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.sidebar__twitterIcon { 
    color: var(--twitter-color);
    font-size: 40px !important;
}